/* colors */
$dark-blue: #29456F;
$blue: #3C5882;
$orange: #FFB292;
$sand: #FFEDCB;
$sea-gradient-start: 19%;
$mobile-breakpoint: 576px;

:export {
  dark-blue: $dark-blue;
  blue: $blue;
  orange: $orange;
  sand: $sand;
  sea-gradient-start: $sea-gradient-start;
  mobile-breakpoint: $mobile-breakpoint;
}
